body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  /*  
  background-image: url(/images/fond-de-hotte-ardoise-noir-2.jpeg);
  */
  background-image: url(/images/fond-de-hotte-ardoise-noir-2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: lightgray;
  font-weight: lighter;
}
